body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-risque: Risque;
  --font-righteous: Righteous;
  --font-roboto-serif: "Roboto Serif";
  --font-roboto-slab: "Roboto Slab";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #565656;
  --cold-grey-black: #000;
  --color-lightblue: rgba(147, 193, 212, 0.46);
  --color-silver: #c2c2c2;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-12xl: 31px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-281xl: 300px;
  --br-xl: 20px;
}
