@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Google Poppins Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black !important;
}

/* Variables */
:root {
    --primary-font-family: 'Righteous', sans-serif;
    ;
    --light-white: #f5f8fa;
    --gray: #5e6278;
    --gray-1: #e3e3e3;
}

body {
    font-family: var(--primary-font-family);
    font-size: 14px;
}

.container {
    margin-top: 1rem;
    border-radius: 30px;
    background: #FFF !important;
    width: 400px;
    height: 355px;
    border: ridge 1.5px white;
    padding: 20px;

    h2 {
        background: #FFF !important;
        color: #000;
        font-family: Righteous;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p {
        background: #FFF !important;
        color: #50648A !important;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;

        a {
            background: #FFF !important;
            text-decoration-line: underline;
            cursor: pointer;
        }
    }
}

.form-group {
    background: #FFF !important;
}

label,
input {
    background: #FFF !important;
}

.buttons {
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #7BB2CA 14.47%, rgba(5, 32, 86, 0.70) 55.11%, #7BB2CA 99.91%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF !important;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.agreement {
    color: #50648A;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    span {
        text-decoration-line: underline;
    }
}

.checkbox {
    color: #50648A;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.icon-input {
    position: relative;
}

.icon-input input {
    padding-left: 30px;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.one-line {
    display: flex;
    background: #FFF !important;
}

.forgot {
    margin-left: auto;
    background: #FFF !important;
    color: #50648A !important;
    text-align: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    /* 20px */
    text-decoration-line: underline;
}