@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  background: rgba(147, 193, 212, 0.46);
}

/* Variables */
:root {
  --primary-font-family: 'Righteous', sans-serif;
  --light-white: #f5f8fa;
  --gray: #5e6278;
  --gray-1: #e3e3e3;
}

* {
  font-size: 14px;
  list-style: none;
}
.profile_image img {
  width: 80px !important;
  height: 80px !important;
  flex-shrink: 0 !important;
  margin: 0.4rem !important;
}

.navbar {
  background: linear-gradient(120deg, #C9FFD5 3.49%, #6D9DE6 95.7%);
  mix-blend-mode: darken;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.25));
}

.navbar-brand{
  text-shadow: 5px 3px 4px rgba(0,0,0,0.61);
}

.nav-item>button {
  display: inline-flex;
  height: fit-content;
  padding-left: 19px;
  padding-right: 19px;
  width: fit-content;
  padding-top: 7px;
  padding-bottom: 7px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(90deg, #7BB2CA 14.47%, rgba(5, 32, 86, 0.70) 55.11%, #7BB2CA 99.91%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  outline: none;
  border: navajowhite;
}

.nav-item>a {
  /* color: #000 !important; */
  font-family: Roboto;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.dropdown-menu{
  background: linear-gradient(120deg, #C9FFD5 3.49%, #065cdd 95.7%) !important;
  mix-blend-mode: darken !important;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.25)) !important;
  
  .dropdown-item{
    font-weight: 800 !important;
  }
}

.logo {
  color: #011662;
  font-family: Risque !important;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.294);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  margin-left: 2.1rem !important;
}

.nav-link {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


button:focus {
  outline: none;
}

.pricingContainer {
  /* padding-top: 3rem; */
  font-family: "Titillium Web", sans-serif;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

.pricingContainer>.pricingHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.pricingContainer .start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.pricingContainer .start h1 {
  max-width: 50%;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

.pricingContainer .start p {
  max-width: 57%;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.pricingContainer .pricingbuttons {
  display: flex;
  justify-content: center;
}

.pricingContainer button {
  border-radius: 30px;
  border: none;
  background: #9AB7D3;
  color: #000;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  width: 100px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

}

/* Price One */
/* Your existing styles.css content goes here */
.pricingOne {
  height: fit-content;
  color: #fff !important;
  width: fit-content;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 20px;
  background: rgba(63, 110, 153, 0.80);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pricingOneHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem !important;
}

.pricingOneImages img {
  text-align: center;
  width: 60px;
  height: 60px;
}

.pricingOneHeadings>h1 {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-decoration-line: underline;
}

.pricingOneHeadings .pricingOneSubHeadings {
  display: flex;
  gap: 0.6rem;
}

.pricingOneHeadings .pricingOneSubHeadings>h1 {
  color: #FFF;
  font-family: Roboto Slab;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pricingOneHeadings .pricingOneSubHeadings>p {
  font-size: 16px;
  color: white;
}

.pricingOneList {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 3px;
  /* font-size: 14px; */
}

.pricingOneList>li {
  font-size: 12px;
}


.pricingOneList>.pricingOneListSvg {
  display: flex;
  justify-content: flex-end;
}

.btns {
  display: inline-flex;
  width: fit-content;
  /* padding: 14px 26px; */
  justify-content: center;
  margin: auto;
  align-items: center;
  /* gap: 10px; */
  padding: 0.3rem;
  border-radius: 5px;
  background: linear-gradient(90deg, #7BB2CA 14.47%, rgba(5, 32, 86, 0.70) 55.11%, #7BB2CA 99.91%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btns button {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  border: none;
  background-color: transparent;
  font-size: 11px !important;
}

/* Price Two */
.pricingTwo {
  height: fit-content;
  color: #fff !important;
  width: fit-content;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.80);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pricingTwoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pricingTwoImages img {
  text-align: center;
  width: 60px;
  height: 60px;
}

.pricingTwoHeadings>h1 {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px !important;
  line-height: normal;
  color: #19176D;
  text-decoration-line: underline;
}

.pricingTwoHeadings .pricingTwoSubHeadings {
  display: flex;
  gap: 0.6rem;
}

.pricingTwoHeadings .pricingTwoSubHeadings>h1 {
  color: #19176D;
  font-family: Roboto Slab;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pricingTwoHeadings .pricingTwoSubHeadings>p {
  color: #19176D;
  font-weight: 300;
  font-size: 16px;
}

.pricingTwoList {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 3px;
  font-weight: 300;
  color: #000;
}

.pricingTwoList>li {
  font-size: 12px;
}


.pricingTwoList>.pricingTwoListSvg {
  display: flex;
  justify-content: flex-end;
}

/* Pricing Three */
.pricingThree {
  height: fit-content;
  color: #fff !important;
  width: fit-content;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 20px;
  background: rgba(63, 110, 153, 0.80);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pricingThreeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pricingThreeImages img {
  text-align: center;
  width: 60px;
  height: 60px;
}

.pricingThreeHeadings>h1 {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  color: #fff;
  text-decoration-line: underline;
}

.pricingThreeHeadings .pricingThreeSubHeadings {
  display: flex;
  gap: 0.6rem;
}

.pricingThreeHeadings .pricingThreeSubHeadings>h1 {
  color: #fff;
  font-family: Roboto Slab;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.pricingThreeHeadings .pricingThreeSubHeadings>p {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  /* color: #FFF; */
}

.pricingThreeList {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  font-weight: 300;
  color: #fff;
}

.pricingThreeList>li {
  font-size: 12px;
}

.pricingThreeList>.pricingThreeListSvg {
  display: flex;
  justify-content: flex-end;
}

/* Media Query  */
@media screen and (max-width: 768px) {
  .pricingContainer {
    gap: 1rem;
  }

  .pricingContainer .start h1 {
    max-width: 100%;
    font-size: 22px;
  }

  .pricingContainer .start p {
    max-width: 100%;
    font-size: 14px;
  }

  .pricingContainer .buttons {
    flex-direction: column;
  }

  .pricingContainer .buttons button {
    width: 100%;
    margin-bottom: 1rem;
  }

  .pricing {
    flex-direction: column;
  }

  .pricingOne,
  .pricingTwo,
  .pricingThree {
    padding: 2rem;
  }

  .pricingOneHeadings>h1,
  .pricingTwoHeadings>h1,
  .pricingThreeHeadings>h1 {
    font-size: 20px !important;
  }

  .pricingOneSubHeadings>h1,
  .pricingTwoSubHeadings>h1,
  .pricingThreeSubHeadings>h1 {
    font-size: 20px;
  }

  .pricingOneList,
  .pricingTwoList,
  .pricingThreeList {
    flex-direction: column;
    /* gap: 1rem; */
  }

  .btns {
    padding: 1rem;
  }
}