body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-rhodium-libre: "Rhodium Libre";
  --font-roboto-slab: "Roboto Slab";
  --font-roboto: Roboto;
  --font-risque: Risque;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --dark-blue: #1e3f64;
  --cold-grey-black: #000;
  --color-dimgray: #565656;
  --color-lightblue: rgba(147, 193, 212, 0.46);
  --color-silver: #c2c2c2;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-12xl: 31px;

  /* Border radiuses */
  --br-7xs: 6px;
}
