@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black !important;
}


* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.contain {
    background-image: url('../Images/Rectangle.png');
    background-size: cover;
    width: fit-content;
    padding: 3rem;
    opacity: 1;
    margin: auto;
    padding-left: 9rem;
    padding-right: 9rem;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    margin: 3%;
    border-radius: 30px;
    background: rgba(106, 154, 210, 0.25);
    backdrop-filter: blur(1200px);
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
}

.main h1 {
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

.main p {
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
}

.form {
    width: fit-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
}

.form .forms {
    display: flex;
    gap: 3rem;
}

.form .forms .labels {
    display: flex;
    flex-direction: column;
}

.form .forms .labels label {
    font-weight: 600;
    font-size: 17px;
}

.form .forms .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.form .forms .inputs input {
    border-radius: 0.34rem;
    border: none;
    background-color: white !important;
}

.form .forms .inputs input[type="file"] {
    background-color: white !important;
}

.form .forms .inputs textarea {
    border-radius: 0.34rem;
    border: none;
    outline: none;
}

.form .forms .inputs textarea:focus {
    outline: none;
    border: none;
}

.form .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
    position: relative;
    left: 4rem;
}

.form .buttons a {
    width: 200px;
    position: relative;
    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    background: linear-gradient(150deg, #7BB2CA 10.47%, rgba(162, 178, 210, 0.7)5.11%, #7BB2CA 79.91%);
    box-shadow: 3px 5px 4px 2px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Roboto Serif;
    font-size: 14px;
    border: none;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.connect {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    position: relative;
    left: 2.7rem;
}

.connect>a {
    border-radius: 10px;
    background: #52b85fb0 !important;
    box-shadow: 3px 5px 4px 2px rgba(0, 0, 0, 0.25);
    gap: 0.5rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid;
    outline: none;
    padding: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 0.5rem;
    text-decoration: none;
    padding-bottom: 0.5rem;

    buttons {
        text-decoration: none;
        background: transparent;
        color: black !important;
    }

    h4 {
        position: relative;
        top: 5px;
        color: black !important;

    }
}

.connect {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    position: relative;
    left: 2.7rem;
}

.connect>button {
    border-radius: 10px;
    background: linear-gradient(150deg, #7BB2CA 10.47%, rgba(162, 178, 210, 0.7)5.11%, #7BB2CA 79.91%);
    box-shadow: 3px 5px 4px 2px rgba(0, 0, 0, 0.25);
    gap: 0.5rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid;
    outline: none;
    padding: 0.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.connect>button>h4 {
    font-size: 18px;
    position: relative;
    top: 3px;
}