@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Risque&family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif !important;
}
header {
  background: rgba(147, 193, 212, 0.46);
}

.nav-link {
  color: black !important;
  font-size: 18px !important;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
}
.nav-link:hover {
  border-bottom: 2px solid #011662;
  font-weight: 700 !important;
}
.dropdown-menu {
  background: rgba(147, 192, 212, 0.634);
  border: none !important;
  margin: 10px;
}
.dropdown-item:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.btn {
  width: 208px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #7bb2ca 14.47%,
    rgba(5, 32, 86, 0.7) 55.11%,
    #7bb2ca 99.91%
  ) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none !important;
}

.profile_image img {
  width: 80px !important;
  height: 80px !important;
  flex-shrink: 0 !important;
  margin: 0.4rem !important;
}
.logo {
  color: #011662;
  font-family: Risque !important;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.294);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  margin-left: 2.1rem !important;
}

.home_page {
  background: linear-gradient(
    40deg,
    #425e82 20.69%,
    rgba(147, 193, 212, 0.46) 100%
  );
  height: 574px !important;
  flex-shrink: 0;
  line-height: 4rem !important;
}

.home_page h1 {
  font-size: 66px !important;
  font-weight: 900 !important;
  margin-top: 4rem !important;
}
.border1 {
  border-bottom: 4px solid #4d698d;
  width: 37%;
}
.home_page p {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  /* width: 51rem !important; */
}
.home_page1 {
  background: rgba(147, 193, 212, 0.46);
  height: 9491px;
}
.Home_second {
  margin-top: 6rem !important;
}
.Home_second h1 {
  color: #000 !important;
  font-family: Roboto;
  font-size: 50px !important;
  font-weight: 600 !important;
  text-align: center !important;
}

.Home_second .para p {
  color: #000 !important;
  width: 60%;
  margin: auto !important;
  text-align: center !important;
  font-family: Roboto;
  font-size: 25px !important;
  font-weight: 400;
  margin-top: 3rem !important;
}
.home_page1 .btn {
  width: auto;
  height: 55px;
  flex-shrink: 0;
  margin: auto !important;
  margin-top: 3rem !important;
}
.secontPart {
  background-color: red !important;
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  /* margin: 10px; */
}

.Home_second1 .para1 p {
  color: #000 !important;
  width: 50%;
  font-family: Roboto;
  font-size: 45px !important;
  font-weight: 700;
  margin-top: 7rem !important;
  line-height: 4rem !important;
  text-align: center;
}

.card {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #fffffe;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  border: 3px solid black;
}

.card::before {
  content: "";
  width: 350px;
  height: 100px;
  position: absolute;
  top: 0;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  border: 10px !important;
  border-bottom: 3px solid #fefefe;
  /* background: linear-gradient(
    40deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  ); */
  background-color: #fefefe;
  transition: all 0.5s ease;
}

.card * {
  z-index: 1;
}

.image {
  width: 90px;
  height: 90px;
  background-image: url(../images/profile.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  border-radius: 50%;
  border: 4px solid #fefefe;
  margin-top: 30px;
  transition: all 0.5s ease;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.5s ease;
}

.card-info span {
  font-weight: 600;
  font-size: 24px;
  color: #161a42;
  margin-top: 15px;
  line-height: 5px;
}

.card-info p {
  color: rgba(0, 0, 0, 0.5);
}

.button {
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.card:hover::before {
  width: 350px;
  height: 300px;
  border-bottom: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: scale(0.55);
}

.card:hover .card-info {
  transform: translate(0%, -25%);
}

.card:hover .image {
  transform: scale(2) translate(-80%, -20%);
}
.bold {
  font-weight: 900 !important;
  color: black;
}

.small_card {
  position: absolute;
  top: -0.7rem;
  right: 6.5rem;
  width: 150px;
  height: 90px;  
  text-align: center;
 line-height: 0.2rem !important;
  background-color: #fffffe9b;
  border-radius: 15px;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.823);
}
.small_card p{
  font-weight:  bolder !important;
  margin-top: 0.5rem !important;
}
 .small_card .forty{
  background-color: #425e82;
  color: #fff;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50px;
}

